footer.mastfoot.mt-auto
  div.inner
    a(href='https://github.com/santiagotrini/trivia' target='_blank' class='text-center' style='font-size: 48px; color: white;')
      i(class='fa fa-github') 
    p ET Nº 35 "Ing. Eduardo Latzina" &copy 2019
