header.masthead.mb-auto
  div.inner  
    h3.masthead-brand Trivia
    nav.nav.nav-masthead.justify-content-center
      a.nav-link(href='/') Home
      a.nav-link(href='/question') Crear pregunta
      if (!user)
        a.nav-link(href='/login') Ingresar 
        a.nav-link(href='/register') Registrarse
      if (user)
        a.nav-link.disabled(href='') Bienvenido, #{user.firstName}
        a.nav-link(href='/profile') Ver perfil
        a.nav-link(href='/logout') Logout
        
