extends layout

block content
  main.inner.cover(role='main')
    h1.cover-heading No autorizado
    p.lead Por favor, ingrese con usuario y contraseña.
    p.lead
      a.btn.btn-lg.btn-secondary(href='/login') Login  
